<!-- page container -->
<div class="page-container">

    <!-- page header -->
    <div class="page-header">

        <!-- page header holder -->
        <nav class="navbar navbar-default-admin">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                      </button>
                    <a class="brand" ui-sref="admin"><img class="img-responsive" src="../img/logo.png" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <!--<li><a title="Edit my profile" ui-sref="admin-profile"><span class="fa fa-cog"></span></a></li>-->
                            <!--<li><a ng-if = "auth.profile.roles[0] === 'superadmin'" ui-sref="admin-list">Admins</a></li>
                            <li><a ng-if = "auth.profile.roles[0] === 'superadmin'" ui-sref="offices">Offices</a></li>-->
                            <li>
                                <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Workers
                                </a>
                                <div class="dropdown-menu">
                                <a class="dropdown-item" ui-sref="worker">Register Workers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" ui-sref="worker-available">Available Workers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" ui-sref="worker-booked">Booked Workers</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" ui-sref="worker-meeting">Meeting List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" ui-sref="worker-unavailable">Unavailable List</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" ui-sref="worker-cancelled">Cancelled Workers</a>
                                </div>
                            </li>
                        <!-- <li><a ng-click="dashboardCtrl.logout()"><span class="fa fa-sign-out"></span> Log Out</a></li> -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
        <!-- ./page header holder -->

    </div>
    <!-- ./page header -->

    <!-- page content -->
    <div class="page-content" ng-controller="availableWorker">

        <!-- page content wrapper -->
        <div class="page-content-wrap">
            <div class="container">
                <h2>Edit Pekerja:    <small> {{pus.nama}} </small></h2>
            </div>
            <br>
            <div class="divider">
                <div class="box"><span class="fa fa-angle-down"></span></div>
            </div>

            <!-- page content holder -->
            <div class="page-content-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-6">
                            <!--<div class="form-group">
                                <label for="tersedia" class="col-lg-3 control-label">Pekerja Masih Tersedia?</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="data.tersedia" id="inputTersedia" required>
                                            <option value="">Select</option>
                                            <option>ya</option>
                                            <option>tidak</option>
                                            </select>
                                    <span class="help-block">Pilih disini untuk merubah status ketersediaan pekerja</span>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-lg-8 col-lg-offset-2" align="center">
                                    <img ng-src="{{pus.foto}}" style="max-width:280px"/>
                                    <div class="caption">
                                        <h5>Ganti Gambar</h5>
                                        <a class="btn btn-info" role="button" ng-click="click()">Browse</a>                                                                                
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="user-name" class="col-lg-3 control-label">Nama</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" id="inputNama" ng-model="pus.nama" placeholder="Masukkan Nama Pekerja" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tanggal-lahir" class="col-lg-3 control-label">Tanggal Lahir</label>
                                <div class="col-lg-8">
                                    <input value="{{pus.tanggallahir}}" type="date" class="form-control datepicker" id="inputTanggal" max="2000-12-31" min="1900-01-01"
                                        required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="asal" class="col-lg-3 control-label">Asal/Tempat Lahir</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputAsal" ng-model="pus.asal" placeholder="Masukkan Asal Pekerja" required/>
                                </div>
                            </div>
                            ​
                            <div class="form-group">
                                <label for="user-address" class="col-lg-3 control-label">Alamat Lengkap</label>
                                <div class="col-lg-8">
                                    <textarea class="form-control" id="inputAlamat" ng-model="pus.alamat" rows="5" required></textarea>
                                </div>
                            </div>
                            ​
                            <div class="form-group">
                                <label for="lokasi-cabang" class="col-lg-3 control-label">Lokasi Cabang</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" id="inputLokasi" required ng-model="pus.lokasi" ng-disabled="!profileCtrl.profile.super">
                                        <option value="">Select</option>
                                        <option ng-repeat="branch in branches">{{branch.kotamadya}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="kategori" class="col-lg-3 control-label">Profesi</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputKategori" ng-model="pus.kategori" placeholder="Masukkan Profesi Pekerja" required/>
                                </div>
                            </div>

                            <!--<div class="form-group">
                                <label for="profesi" class="col-lg-3 control-label">Pekerjaan yang Diminati</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" id="inputProfesi" ng-model="pus.profesi" required>
                                        <option value="">Select</option>
                                        <option>Infal / Cuci-gosok</option>
                                        <option>Pembantu (Full-time)</option>
                                        <option>Tukang Kebun</option>
                                        <option>Penjaga Binatang Peliharaan</option>
                                        <option>Sopir</option>
                                        <option>Tukang / Maintenance</option>
                                        <option>Baby Sitter</option>
                                        <option>Nanny / Perawat Orang Sakit</option>
                                        <option>Satpam</option>
                                        <option>Pekerja Umum</option>
                                    </select>
                                </div>
                            </div>-->
                            
                            <div class="form-group" >
                                <label for="profesi" class="col-lg-3 control-label">Pekerjaan yang Diminati</label>
                                <div class="col-sm-8" >
                                    <div class="row" >
                                        <div class="col-sm-6">
                                            <label>
                                        <input type="checkbox" ng-model="pus.profesi.value1" ng-true-value="'Infal / Cuci-gosok'" ng-false-value="null" >
                                            Infal / Cuci-gosok  &nbsp</label>
                                            <label>
                                        <input type="checkbox" ng-model="pus.profesi.value2"  ng-true-value="'Pembantu (Full-time)'" ng-false-value="null">
                                            Pembantu (Full-time)  &nbsp</label>
                                            <label>
                                        <input type="checkbox" ng-model="pus.profesi.value3"  ng-true-value="'Tukang Kebun'" ng-false-value="null">
                                            Tukang Kebun &nbsp</label>
                                            <label>
                                        <input type="checkbox" ng-model="pus.profesi.value4" ng-true-value="'Penjaga Binatang Peliharaan'" ng-false-value="null">
                                            Penjaga Binatang Peliharaan  &nbsp</label>
                                            <label>
                                        <input type="checkbox" ng-model="pus.profesi.value5" ng-true-value="'Sopir'" ng-false-value="null">
                                            Sopir  &nbsp</label>                                   
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <label>
                                            <input type="checkbox" ng-model="pus.profesi.value6" ng-true-value="'Tukang / Maintenance'" ng-false-value="null">
                                                Tukang / Maintenance  &nbsp</label>
                                            <label><input type="checkbox" ng-model="pus.profesi.value7" ng-true-value="'Baby Sitter'" ng-false-value="null">
                                                Baby Sitter  &nbsp</label>
                                            <label><input type="checkbox" ng-model="pus.profesi.value8" ng-true-value="'Nanny / Perawat Orang Sakit'" ng-false-value="null">
                                                Nanny / Perawat Orang Sakit  &nbsp</label>
                                            <label><input type="checkbox" ng-model="pus.profesi.value9" ng-true-value="'Satpam'" ng-false-value="null">
                                                Satpam  &nbsp</label><br>
                                            <label><input type="checkbox" ng-model="pus.profesi.value10" ng-true-value="'Pekerja Umum'" ng-false-value="null">
                                                Pekerja Umum  &nbsp</label><br>
                                        </div>
                                    </div>                                                                        
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="gender" class="col-lg-3 control-label">Jenis Kelamin</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.gender" id="inputGender" required>
                                            <option value="">Select</option>
                                            <option>Laki-laki</option>
                                            <option>Perempuan</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="waktu" class="col-lg-3 control-label">Waktu</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.waktu" id="inputWaktu" required>
                                            <option value="">Select</option>
                                            <option>Menginap</option>
                                            <option>Infal</option>
                                            <option>Pulang-pergi</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="pendidikan" class="col-lg-3 control-label">Pendidikan Terakhir</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.pendidikan" id="inputPend" required>
                                            <option value="">Select</option>
                                            <option>SD</option>
                                            <option>SMP</option>
                                            <option>SMA</option>
                                            <option>Perguruan Tinggi</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="status" class="col-lg-3 control-label">Status</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.status" id="inputStatus" required>
                                            <option value="">Select</option>
                                            <option>Lajang</option>
                                            <option>Menikah</option>
                                            <option>Janda/Duda</option>
                                            </select>
                                </div>
                            </div>
                            
                            </div>
                            <div class="col-md-6">

                            <div class="form-group">
                                <label for="anak" class="col-lg-3 control-label">Anak</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="inputAnak" ng-model="pus.anak" string-to-number type="number" min="0" max="20" required/>
                                </div>
                            </div>
                            ​
                            <div class="form-group">
                                <label for="telp" class="col-lg-3 control-label">Tel/Handphone</label>
                                <div class="col-sm-8">
                                    <input type="tel" class="form-control" ng-model="pus.telp" id="inputTelp" placeholder="ex: 021-1234567" required/>
                                </div>
                            </div> ​

                            <div class="form-group">
                                <label for="agama" class="col-lg-3 control-label">Agama</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.agama" id="inputAgama" required>
                                            <option value="">Select</option>
                                            <option>Islam</option>
                                            <option>Katolik</option>
                                            <option>Kristen</option>
                                            <option>Hindu</option>
                                            <option>Budha</option>
                                            <option>Lainnya</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="suku" class="col-lg-3 control-label">Suku</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.suku" id="inputSuku" required>
                                            <option value="">Select</option>
                                            <option>Jawa</option>
                                            <option>Sunda</option>
                                            <option>Banten</option>
                                            <option>Batak</option>
                                            <option>Bali</option>
                                            <option>NTB/NTT</option>
                                            <option>Lampung</option>
                                            <option>Madura</option>
                                            <option>Melayu</option>
                                            <option>Lainnya</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="gaji" class="col-lg-3 control-label">Gaji</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" ng-model="pus.gajiNum" id="inputGaji" ng-value="pus.gajiNum" placeholder="ex: 1.000.000" name="number" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ketrampilan" class="col-lg-3 control-label">Ketrampilan</label>
                                <div class="col-sm-8">
                                <tags-input ng-model="pus.ketrampilan" add-on-paste="true" placeholder="Masukkan Ketrampilan Pekerja (enter untuk lebih dari 1)" required>
                                <!--<auto-complete source="loadTags($query)"></auto-complete>-->
                                </tags-input>
                                </div>
                             </div>

                            <div class="form-group">
                                <label for="anjing" class="col-lg-3 control-label">Takut Anjing?</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.anjing" id="inputAnjing" required>
                                            <option value="">Select</option>
                                            <option>Ya</option>
                                            <option>Tidak</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="exp" class="col-lg-3 control-label">Pengalaman Kerja</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" ng-model="pus.exp" string-to-number id="inputExp" min="0" max="50" required/>
                                    <span class="help-block">Tahun</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="expln" class="col-lg-3 control-label">Pengalaman kerja di luar negri?</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.luarnegri" id="inputExpln" required>
                                            <option value="">Select</option>
                                            <option>Ya</option>
                                            <option>Tidak</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="ing" class="col-lg-3 control-label">Bisa Bahasa Inggris?</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.inggris" id="inputIng" required>
                                            <option value="">Select</option>
                                            <option>Ya</option>
                                            <option>Tidak</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="tinggi" class="col-lg-3 control-label">Tinggi Badan</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" ng-model="pus.tinggi" string-to-number id="inputTinggi" min="50" max="350" required/>
                                    <span class="help-block">Cm</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="berat" class="col-lg-3 control-label">Berat Badan</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" ng-model="pus.berat" id="inputBerat" min="20" max="250" required/>
                                    <span class="help-block">Kg</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="halal" class="col-lg-3 control-label">Bisa Masak Non-halal?</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.nonhalal" id="inputHalal" required>
                                            <option value="">Select</option>
                                            <option>Ya</option>
                                            <option>Tidak</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="lembur" class="col-lg-3 control-label">Bersedia Lembur?</label>
                                <div class="col-sm-8">
                                    <select class="form-control select" ng-model="pus.lembur" id="inputLembur" required>
                                            <option value="">Select</option>
                                            <option>Ya</option>
                                            <option>Tidak</option>
                                            </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="gajih" class="col-lg-3 control-label">Gaji Harian</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputGajih" ng-model="pus.gajih" name="number" />
                                    <span class="help-block">Jika Ada</span>
                                </div>
                            </div>

                            </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                        <div class="form-group">
                                        <div class="col-lg-8 col-lg-offset-2" align="center">
                                        <img ng-src="{{docs.ktp}}" style="max-width:280px"/>
                                        <div class="caption">
                                            <h5>Ganti KTP</h5>
                                            <a class="btn btn-info" role="button" ng-click="clickKtp()">Browse</a>                                                                                       
                                        </div>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-lg-8 col-lg-offset-2" align="center">
                                        <img ng-src="{{docs.kk}}" style="max-width:280px"/>
                                        <div class="caption">
                                            <h5>Ganti Kartu Keluarga</h5>
                                            <a class="btn btn-info" role="button" ng-click="clickKk()">Browse</a>                                                                                        
                                        </div>
                                        </div>
                                        </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="col-lg-8 col-lg-offset-2" align="center">
                                        <img ng-src="{{docs.sk}}" style="max-width:280px"/>
                                        <div class="caption">
                                            <h5>Ganti Surat Keterangan</h5>
                                            <a class="btn btn-info" role="button" ng-click="clickSk()">Browse</a>                                                                                                                                   
                                        </div>
                                        </div>
                                        </div>
                                </div>
                                <br>
                            
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary pull-right" id="btnSubmit" ng-click="editWorker()">Save</button>
                                <button class="btn btn-danger mb-control" ng-click="removeWorker(pus)">Remove</button>
                                <!--<button type="cancel" class="btn btn-default" onclick="this.form.reset()">Reset</button>-->
                                <button type="cancel" class="btn btn-primary col-sm-offset-10" ui-sref="worker-available">Cancel</button>
                            </div>
                            </div>
                        </form>                        

                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->