<!-- page container -->
<div class="page-container">

    <!-- page header -->
    <div class="page-header">

        <!-- page header holder -->
        <nav class="navbar navbar-default-admin">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="brand" ui-sref="/"><img class="img-responsive" src="../img/logo.png" /></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a title="Edit my profile" ui-sref="admin-profile"><span class="fa fa-cog"></span></a></li>
                        <!--<li><a ui-sref="admin-list">Admins</a></li>
                        <li>
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Workers
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" ui-sref="worker">Register Workers</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" ui-sref="worker-available">Available Workers</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" ui-sref="worker-booked">Booked Workers</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" ui-sref="worker-meeting">Meeting List</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" ui-sref="worker-unavailable">Unavailable List</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" ui-sref="worker-cancelled">Cancelled Workers</a>
                            </div>
                        </li>                        
                        <li><a ui-sref="offices">Offices</a></li>-->
                        <!--<li><a class="btn" title="Log Out"><span class="fa fa-sign-out"></span></a></li>-->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- /.navbar -->
        <!-- ./page header holder -->

    </div>
    <!-- ./page header -->

    <!-- page content -->
    <div class="page-content">

        <!-- page content wrapper -->
        <div class="page-content-wrap">
            <div class="container">
                <h2>Admins Profile Page:    <small> Edit your details </small></h2>
            </div>
            <div class="divider">
                <div class="box"><span class="fa fa-angle-down"></span></div>
            </div>

            <!-- page content holder -->
            <div class="page-content-wrap">
                <div class="container">
                    <div class="row">
                        <br>
                        <br>


                        <div class="container">
                            <div class="row">
                                <form class="form-horizontal col-lg-5 col-sm-offset-1">
                                    <!--<div class="form-group">-->
                                    <!--    <label for="user-unique" class="col-lg-3 control-label">Unique ID</label>-->
                                    <!--    <div class="col-sm-8">-->
                                    <!--        <p type="text" class="form-control" id="user-unique" placeholder="Unique ID">Unique ID</p>-->
                                    <!--    </div>-->
                                    <!--</div>-->
                                    <div class="alert alert-warning" ng-show="authCtrl.error" ng-hide="profileCtrl.profile.displayName">
                                        <span>Masukkan detail Admin</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="user-name" class="col-lg-3 control-label">Nama</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" id="user-name" placeholder="Masukkan Nama" ng-model="profileCtrl.profile.displayName">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="user-email" class="col-lg-3 control-label">Email</label>
                                        <div class="col-lg-8">
                                            <input type="text" class="form-control" id="user-name" placeholder="Masukkan Email" ng-model="profileCtrl.profile.email">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="lokasi" class="col-lg-3 control-label">Lokasi Cabang:</label>
                                        <div class="col-lg-8" ng-hide="profileCtrl.profile.branch">
                                            <select class="form-control" id="lokasi" ng-model="profileCtrl.profile.branch">
                                                <option value="">Select</option>
                                                <option ng-repeat="branch in branches">{{branch.kotamadya}}</option>                                                
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-lg-offset-2">
                                        <button type="submit" class="btn btn-primary"  ng-click="profileCtrl.updateProfile()">Save</button>
                                        <button type="submit" class="btn btn-primary" ui-sref="admin-list">Cancel</button>
                                    </div>
                                </form>
                            </div>
                            <br>
                            <!-- END WORKER PROFILE -->

                            
                        </div>
                        <br>
                    </div>

                </div>
                <!-- ./page content holder -->
            </div>
            <!-- ./page content wrapper -->

        </div>
        <!-- ./page content -->



    </div>
    <!-- ./page container -->